.title, .caption {
  max-width: 650px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.title {
  font-family: "Arial Black", ArialBlack;
  font-size: 2.5rem;
  color: var(--primary-color);
  margin-bottom: 0%;
  margin-top: 5rem;
}

.caption {
  color: var(--primary-color);
  margin-top: 0.3rem;
  letter-spacing: 0.02rem;
  font-size: 1rem;
}

@media (max-width: 800px) {
  .title {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}
